{% extends 'base.html' %}
{% block content %}
  
  <form class="container" action="{% url 'result' %}" method="POST">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="zipcode">Code postal :</label>
      <input type="text" id="zipcode" name="zipcode" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="view">Vue :</label>
      <input type="text" id="view" name="view" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="grade">Grade :</label>
      <input type="text" id="grade" name="grade" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="sqft_living">Surface habitable (en pieds carrés) :</label>
      <input type="text" id="sqft_living" name="sqft_living" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="bathrooms">Nombre de salles de bain :</label>
      <input type="text" id="bathrooms" name="bathrooms" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="waterfront">Vue sur la mer :</label>
      <select id="waterfront" name="waterfront" class="form-control" required>
        <option value="">-- Veuillez choisir une option --</option>
        <option value="0">Non</option>
        <option value="1">Oui</option>
      </select>
    </div>

    <div class="form-group">
      <label for="sqft_above">Surface au sol (hors sous-sol) (en pieds carrés) :</label>
      <input type="text" id="sqft_above" name="sqft_above" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="sqft_basement">Surface du sous-sol (en pieds carrés) :</label>
      <input type="text" id="sqft_basement" name="sqft_basement" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="sqft_living15">Surface habitable voisine (en pieds carrés) :</label>
      <input type="text" id="sqft_living15" name="sqft_living15" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="days_since_reference_date">Nombre de jours depuis la date de référence :</label>
      <input type="text" id="days_since_reference_date" name="days_since_reference_date" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Prédire</button>
    
  </form>

  {% if prediction %}
    <h2>Le prix prédit est : {{ prediction }} $</h2>
  {% endif %}
{% endblock %}